@import "tailwindcss";

html,
body {
  height: 100%;
  background-color: #0e0e10;
}
body {
  color: white;
  background: linear-gradient(to bottom right, #000000, #09090b, #18181b);
}
button {
  cursor: pointer;
}